body {
    background-color: black;

}

#videoIntro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 40px;
    pointer-events: none;
    z-index: 1;
}

#botaoStart {
    position: fixed;
    top: 800px;
    left: 90%;
    width: 250px;
    height: 250px;
    color: blue;
    background-color: black;
    z-index: 2;
}